.request_input {
	width: 100%;
	height: var(--height-base-element);
	min-width: 200px;
	max-width: 400px;
	background-color: #ffffff14;
	color: var(--font-color-white);
	padding: var(--padding-t8-l16);
	font-family: "Inter";
	font-weight: 400;
	font-size: var(--font-size-paragraph);
	line-height: var(--font-line-height);
	letter-spacing: var(--font-letter-spacing-1);
	outline: none;
	border-style: solid;
	border-width: var(--border-size-default);
	border-color: var(--border-color-default);
	background-color: var(--border-color-default);
	border-top-right-radius: var(--border-radius-default);
	border-bottom-right-radius: var(--border-radius-default);
}
