.dropdown_wrapper {
	width: 100%;
	position: relative;
	height: 100%;
	min-width: 200px;
	max-height: 171px;

	.search_disabled {
		cursor: pointer;
	}

	.dropdown_title {
		margin-left: 1px;
		font-family: "Inter";
		font-weight: 400;
		font-size: var(--font-size-paragraph);
		line-height: var(--font-line-height);
	}

	.dropdown_input_wrapper {
		display: flex;
		flex-direction: row;
		height: 34px;
		padding: 5px 10px;
		background-color: var(--theme-dark-bg-lvl-3);
		border: 1px solid var(--border-color-default);
		border-radius: var(--border-radius-default);

		.dropdown_input {
			font-weight: 400;
			font-size: var(--font-size-paragraph);
			line-height: var(--font-line-height);
			width: 100%;
			border: none;
			outline: none;
			font-weight: 400;
			font-family: "Inter";
			line-height: var(--font-line-height);
			font-size: var(--font-size-paragraph);
			letter-spacing: var(--font-letter-spacing-1);
			color: var(--font-color-white);
			background-color: var(--theme-dark-bg-lvl-3);
		}
		&:current {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.search_icon {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 5px;
		}

		.chevron_icon {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.dropdown_list_wrapper {
		position: absolute;
		width: 100%;
		min-width: 200px;
		max-height: 193px;
		overflow-y: auto;
		user-select: none;
		font-weight: 400;
		font-size: var(--font-size-paragraph);
		line-height: var(--font-line-height);
		transition: all 0.5s ease-in-out;
		background-color: var(--theme-dark-bg-lvl-3);
		border: 1px solid var(--border-color-default);
		border-top: none;
		border-bottom-left-radius: var(--border-radius-default);
		border-bottom-right-radius: var(--border-radius-default);

		.dropdown_list_item {
			padding: 6px 10px;
			display: flex;
			align-items: center;
			color: #cfcfcf;
			cursor: pointer;

			&:hover {
				background-color: var(--border-color-default);
				color: var(--font-color-white);
			}
		}
		&:where(.dropdown_list_disabled) {
			display: none;
		}
	}
}
