html, body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.SettingsWrapper{
  scrollbar-width: none;
  width: 500px; 
  max-height: 500px;
  border: 1px solid gray; 
  padding: 10;
  padding: 10px;
}
.ParametersWrapper{
  width: 100%;
  position: relative;
  display: none;

  &.active{
    display: block;
  }
}