.tippy_method_select_wrapper {
	.tippy-content {
		padding: 5px 5px;
	}

	border: 1px solid var(--border-color-default);
	background-color: var(--theme-dark-bg-lvl-2);
	width: 150px;
	max-height: 255px;
	overflow-y: auto;
	user-select: none;
}

.method_select_wrapper {
	width: 120px;
	user-select: none;
	height: var(--height-base-element);
	padding: var(--padding-t5-l10);
	font-weight: 400;
	font-size: var(--font-size-large-paragraph);
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	background-color: var(--border-color-default);
	border-style: solid;
	border-width: var(--border-size-default);
	border-top-color: var(--border-color-default);
	border-bottom-color: var(--border-color-default);
	border-left-color: var(--border-color-default);
	border-right-color: #0000;
	border-top-left-radius: var(--border-radius-default);
	border-bottom-left-radius: var(--border-radius-default);
}
#tippy-select-request-method {
	width: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
