.tippy_method_select_wrapper {
	width: fit-content;
	max-height: 220px;
	overflow-y: scroll;
	user-select: none;
}
.method_select_wrapper {
	user-select: none;
	width: 160px;
	height: var(--height-base-element);
	padding: var(--padding-t5-l10);
	font-weight: 400;
	font-size: var(--font-size-large-paragraph);
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	background-color: var(--border-color-default);
	border-style: solid;
	border-width: var(--border-size-default);
	border-top-color: var(--border-color-default);
	border-bottom-color: var(--border-color-default);
	border-left-color: var(--border-color-default);
	border-right-color: #0000;
	border-top-left-radius: var(--border-radius-default);
	border-bottom-left-radius: var(--border-radius-default);
}
