.body_conntent_type_select_wrapper {
	display: flex;
	flex-direction: row;
}

.request_additional_body_type {
	min-width: 100px;
	max-width: 100px;
	height: 20px;
	border-radius: 4px;
	border: 1px solid var(--border-color-default);
	margin-left: 5px;
	padding: 0 2px 0 5px;
}

.body_content_type_select {
	cursor: pointer;
	display: flex;
	align-items: center;

	.body_content_type {
		margin-right: 5px;
		line-height: 18px;

		width: 80px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.body_raw_type_select {
	width: 90px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--border-color-default);
	border-radius: 4px;
	margin: 0 5px;
	padding: 0 2px 0 5px;

	.body_raw_type {
		margin-right: 5px;
		line-height: 18px;
	}
}

.body_content_type_tippy_wrapper {
	.tippy-content {
		padding: 0 5px;
		padding-top: 5px;
		padding-bottom: 3px;
	}

	position: relative;
	left: 0px;
	width: 200px;
	border: 1px solid var(--border-color-default);
	background-color: var(--theme-dark-bg-lvl-2);
	overflow-y: auto;
	user-select: none;
}
