.select_wrapper {
	width: 100%;
	height: 100%;
	min-width: 50px;
	max-height: 171px;
	user-select: none;

	.search_disabled {
		cursor: pointer;
	}

	.select_title {
		cursor: pointer;
		margin-left: 1px;
		font-family: "Inter";
		font-weight: 400;
		font-size: var(--font-size-paragraph);
		line-height: var(--font-line-height);
	}

	.select_input_wrapper {
		display: flex;
		flex-direction: row;
		padding: 5px 10px;
		background-color: var(--theme-dark-bg-lvl-3);
		border: 1px solid var(--border-color-default);
		border-radius: var(--border-radius-default);

		.select_input {
			font-weight: 400;
			font-size: var(--font-size-paragraph);
			line-height: var(--font-line-height);
			width: 100%;
			border: none;
			outline: none;
			font-weight: 400;
			font-family: "Inter";
			line-height: var(--font-line-height);
			font-size: var(--font-size-paragraph);
			letter-spacing: var(--font-letter-spacing-1);
			color: var(--font-color-white);
			background-color: var(--theme-dark-bg-lvl-3);
		}

		.search_icon {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 5px;
		}

		.chevron_icon {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.select_list_wrapper {
		position: absolute;
		width: 100%;
		min-width: 50px;
		max-height: 193px;
		overflow-y: auto;
		user-select: none;
		font-weight: 400;
		font-size: var(--font-size-paragraph);
		line-height: var(--font-line-height);
		background-color: var(--theme-dark-bg-lvl-3);
		border: 1px solid var(--border-color-default);
		border-top: none;
		border-bottom-left-radius: var(--border-radius-default);
		border-bottom-right-radius: var(--border-radius-default);

		.select_list_item {
			padding: 6px 10px;
			display: flex;
			align-items: center;
			color: #cfcfcf;
			cursor: pointer;

			&:hover {
				background-color: var(--border-color-default);
				color: var(--font-color-white);
			}
		}
		&:where(.select_list_disabled) {
			display: none;
		}
	}

	&:where(.select_invisible) {
		width: 100%;
		border: 1px solid #0000;
		border-radius: var(--border-radius-default);
		background-color: #0000;
		outline: none;
		color: var(--font-color-white);
		user-select: none;
		border: none;

		.select_input_wrapper {
			background-color: #0000;
			border: none;
			height: 24px;
			padding: 0;

			.select_input {
				padding: 1px 2px;
				width: 100%;
				border: 1px solid #0000;
				border-radius: var(--border-radius-default);
				background-color: #0000;
				outline: none;
				font-family: "Inter";
				font-weight: 400;
				font-size: var(--font-size-paragraph);
				line-height: var(--font-line-height);
				letter-spacing: var(--font-letter-spacing-1);
				user-select: none;
				transition: border ease 0.1s;

				&:not(:focus):hover {
					border: 1px solid var(--border-color-default);
				}
				&:focus {
					border: 1px solid var(--btn-color-default);
				}
			}
		}
		&:not(.list_disabled) {
			.select_input {
				border: 1px solid var(--btn-color-default);
				user-select: text;
			}
		}

		.select_list_wrapper {
			background-color: var(--theme-dark-bg-lvl-1);
			border: 1px solid var(--btn-color-default);
			border-top: none;
			border-bottom-left-radius: var(--border-radius-default);
			border-bottom-right-radius: var(--border-radius-default);
		}

		&:not(.list_disabled) {
			.select_input {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
	&:where(.list_disabled) {
		.select_list_wrapper {
			display: none;
		}
	}
	&:not(.list_disabled) {
		.select_input_wrapper {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}
