.query_params_header_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: solid 1px var(--border-color-default);
	padding: 5px;
	margin-right: 10px;
}
.additional_option_name {
	user-select: none;
}
.additional_option_controls {
	display: flex;
	flex-direction: row;

	.delete_all_params {
		padding: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			background-color: var(--border-color-default);
			border-radius: var(--border-radius-default);
			transition: background-color ease 0.2s;
		}
	}
	.add_new_param {
		padding: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			background-color: var(--border-color-default);
			border-radius: var(--border-radius-default);
			transition: background-color ease 0.2s;
		}
	}
}

.query_params_body_wrapper {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	user-select: none;
}

.tippy_parameter {
	.tippy-arrow::before {
		color: var(--theme-dark-bg-lvl-2);
	}
	.tippy-content {
		font-weight: 200;
		font-size: var(--font-size-paragraph);
		line-height: var(--font-line-height);
	}
	border: 1px solid var(--border-color-default);
	background-color: var(--theme-dark-bg-lvl-2);
	border-radius: var(--border-radius-default);
	user-select: none;
}

.query_params_item {
	display: flex;
	flex-direction: row;

	.param_control {
		padding: 5px;
		display: flex;
		align-items: center;
		border-bottom: solid 1px var(--border-color-default);
		border-left: solid 1px var(--border-color-default);

		.param_dragger {
			opacity: 1;
			cursor: ns-resize;
			display: flex;
			align-items: center;
			transition: opacity ease 0.1s;
		}

		.param_select {
			padding: 3px;
			display: flex;
			align-items: center;

			&:hover {
				background-color: var(--border-color-default);
				border-radius: var(--border-radius-default);
				transition: background-color ease 0.2s;
			}
		}
	}

	.psrams_key_val {
		width: 100%;
		display: flex;
		flex-direction: row;
		user-select: none;

		.params_key {
			padding: 5px;
			width: 100%;
			display: flex;
			align-items: center;
			border: solid 1px var(--border-color-default);
			border-top: none;
			border-right: none;
		}
		.params_val {
			padding: 5px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border: solid 1px var(--border-color-default);
			border-top: none;
		}
	}

	&:hover .param_delete {
		padding: 3px;
		margin-left: 3px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			cursor: pointer;
			background-color: var(--border-color-default);
			border-radius: var(--border-radius-default);
			transition: background-color ease 0.2s;
		}
	}

	.param_delete {
		display: none;
	}
}
