.query_params_header_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: solid 1px var(--border-color-default);
	padding: 5px;
}
.additional_options_body {
}
.additional_options_headers {
}
.additional_options_auth {
}
.additional_option_name {
	user-select: none;
}
.additional_option_controls {
	display: flex;
	flex-direction: row;

	.delete_all_params {
		padding: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			background-color: var(--border-color-default);
			border-radius: var(--border-radius-default);
			transition: background-color ease 0.2s;
		}
	}
	.add_new_param {
		padding: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			background-color: var(--border-color-default);
			border-radius: var(--border-radius-default);
			transition: background-color ease 0.2s;
		}
	}
}

.query_params_item {
	display: flex;
	flex-direction: row;

	.param_control {
		padding: 5px;
		display: flex;
		align-items: center;
		border-bottom: solid 1px var(--border-color-default);
		border-left: solid 1px var(--border-color-default);

		.param_dragger {
			opacity: 1;
			cursor: grab;
			display: flex;
			align-items: center;
			transition: opacity ease 0.1s;
		}

		.param_select {
			padding: 3px;
			display: flex;
			align-items: center;
			&:hover {
				background-color: var(--border-color-default);
				border-radius: var(--border-radius-default);
				transition: background-color ease 0.2s;
			}
		}
	}

	.psrams_key_val {
		width: 100%;
		display: flex;
		flex-direction: row;

		.params_key {
			padding: 5px;
			width: 100%;
			display: flex;
			align-items: center;
			border: solid 1px var(--border-color-default);
			border-top: none;
			border-right: none;
		}
		.params_val {
			padding: 5px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border: solid 1px var(--border-color-default);
			border-top: none;
		}
	}

	&:hover .param_delete {
		opacity: 1;
		padding: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity ease 0.1s;

		&:hover {
			cursor: pointer;
			background-color: var(--border-color-default);
			border-radius: var(--border-radius-default);
			transition: background-color ease 0.2s;
		}
	}

	.param_delete {
		opacity: 0;
		padding: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity ease 0.1s;
	}
}
