.PageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.SettingsWrapper{
  scrollbar-width: none;
  width: 700px; 
  max-height: 650px;
  border: 1px solid gray;
  padding: 10px;
}

.ParametersWrapper{
  width: 100%;
  height: auto;
  position: relative;
  display: none;
  margin-top: 15px;

  &.active{
    display: block;
  }
}


.ParametersList{
  max-height: 300px;
  overflow-y: auto;
}