.extra_option_element_header_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px var(--border-color-default);
	padding: 4px 16px;
}
.extra_options_body {
}
.extra_options_headers {
}
.extra_options_auth {
}
.extra_option_name {
	user-select: none;
}
.extra_option_controls {
	width: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	.delete_all_params {
		transition: color 0.1s linear;
		color: var(--font-color-white);

		&:hover {
			transition: color 0.1s linear;
			color: var(--font-color-red);
		}
	}
	.add_new_param {
		transition: color 0.1s linear;
		color: var(--font-color-white);

		&:hover {
			transition: color 0.1s linear;
			color: #0aff3b;
		}
	}
}

.extra_params_item {
	height: 28px;
	flex-grow: 1;
	display: flex;
	flex-direction: row;

	.params_dragger {
		cursor: grab;
		display: flex;
		align-items: center;
		border-bottom: solid 1px var(--border-color-default);
	}

	.psrams_key_val {
		width: 100%;
		display: flex;
		flex-direction: row;

		.params_key {
			width: 100%;
			display: flex;
			align-items: center;
			border: solid 1px var(--border-color-default);
			border-top: none;
			border-right: none;
		}
		.params_val {
			width: 100%;
			display: flex;
			align-items: center;
			border: solid 1px var(--border-color-default);
			border-top: none;
		}
	}

	.params_controls {
		width: 48px;
		align-items: center;
		border-bottom: solid 1px var(--border-color-default);
		border-top: none;
		border-right: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}
}
