/* inter-200 - latin */
@font-face {
	font-display: swap; 
	font-family: "Inter";
	font-style: normal;
	font-weight: 200;
	src: url("../../assets/fonts/Inter/inter-v12-latin-200.woff2") format("woff2"); 
}
/* inter-300 - latin */
@font-face {
	font-display: swap; 
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url("../../assets/fonts/Inter/inter-v12-latin-300.woff2") format("woff2"); 
}
/* inter-regular - latin */
@font-face {
	font-display: swap; 
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("../../assets/fonts/Inter/inter-v12-latin-regular.woff2") format("woff2");  
}
/* inter-500 - latin */
@font-face {
	font-display: swap; 
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url("../../assets/fonts/Inter/inter-v12-latin-500.woff2") format("woff2"); 
}

/* inter-600 - latin */
@font-face {
	font-display: swap; 
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src: url("../../assets/fonts/Inter/inter-v12-latin-600.woff2") format("woff2"); 
}
/* inter-700 - latin */
@font-face {
	font-display: swap; 
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("../../assets/fonts/Inter/inter-v12-latin-700.woff2") format("woff2"); 
}
/* inter-800 - latin */
@font-face {
	font-display: swap; 
	font-family: "Inter";
	font-style: normal;
	font-weight: 800;
	src: url("../../assets/fonts/Inter/inter-v12-latin-800.woff2") format("woff2"); 
}
/* inter-900 - latin */
@font-face {
	font-display: swap; 
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	src: url("../../assets/fonts/Inter/inter-v12-latin-900.woff2") format("woff2"); 
}
