.modal_layer {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: hsla(0, 0%, 8%, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: var(--z-index-modal-layer);
}
.modal_wrapper {
	z-index: var(--z-index-modal);
	min-width: 450px;
	max-width: 450px;
	min-height: 165px;
	max-height: 500px;
	overflow-y: hidden;
	background-color: var(--theme-dark-bg-lvl-2);
	border-width: var(--border-size-default);
	border-style: solid;
	border-color: var(--border-color-default);
	border-radius: var(--border-radius-default);
}
.modal_header {
	position: sticky;
	top: 0;
	padding: var(--padding-16);
	background-color: var(--theme-dark-bg-lvl-3);
	display: flex;
	align-items: top;
	flex-direction: row;
	justify-content: space-between;
}
.modal_body {
	overflow-y: scroll;
	padding: 16px 6px 16px 16px;
}
.modal_footer {
	padding: var(--padding-12);
	border-top-style: solid;
	background-color: var(--theme-dark-bg-lvl-2);
	border-top-width: var(--border-size-default);
	border-top-color: var(--border-color-default);
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.modal_titles_wrapper {
	.modal_title {
		cursor: default;
		width: fit-content;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		font-weight: 500;
	}
	.modal_subtitle {
		font-family: "Inter";
		font-weight: 400;
		font-size: 11px;
		line-height: var(--font-line-height);
	}
}
.modal_controls {
	width: 160px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.modal_close {
	cursor: pointer;
	color: var(--font-color-white);
	transition: color 0.1s linear;

	&:hover {
		color: var(--font-color-red);
		transition: color 0.1s linear;
	}
}
