.modal_layer {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: hsla(0, 0%, 8%, 0.5);
}
.modal_wrapper {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 450px;
	max-width: 450px;
	min-height: 200px;
	max-height: 500px;
	overflow-y: hidden;
	background-color: var(--theme-dark-bg-lvl-2);
	border-width: var(--border-size-default);
	border-style: solid;
	border-color: var(--border-color-default);
	border-radius: var(--border-radius-default);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.modal_header {
	position: sticky;
	top: 0;
	padding: var(--padding-16);
	background-color: var(--theme-dark-bg-lvl-3);
	flex-grow: 1;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}
.modal_body {
	overflow-y: scroll;
	padding: var(--padding-lr16);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.modal_footer {
	padding: var(--padding-12);
	border-top-style: solid;
	background-color: var(--theme-dark-bg-lvl-2);
	border-top-width: var(--border-size-default);
	border-top-color: var(--border-color-default);
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.modal_title {
	cursor: default;
	width: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.modal_body_element {
	margin: var(--padding-tb8);
}
.modal_controls {
	width: 160px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.modal_close:hover {
	cursor: pointer;
	transition: color 0.1s linear;
	color: var(--font-color-red);
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-color: #0000;
	border-radius: var(--border-radius-default);
}
::-webkit-scrollbar-thumb {
	border-radius: var(--border-radius-default);
	background-color: var(--theme-dark-bg-lvl-0);
}
