@font-face {
  font-family: "Idea-Medium";
  font-style: normal;
  font-weight: 400;
  src:    
    url("../../../assets/fonts/Idea/woff2/JetBrainsMono-Medium.woff2") format("woff2"),
    url("../../../assets/fonts/Idea/ttf/JetBrainsMono-Medium.ttf") format("woff");
}
@font-face {
  font-family: "Idea-Light";
  font-style: normal;
  font-weight: 200;
  src: 
    url("../../../assets/fonts/Idea/woff2/JetBrainsMono-Light.woff2") format("woff2"),
    url("../../../assets/fonts/Idea/ttf/JetBrainsMono-Light.ttf") format("woff");
}

$status-bar-background: #5839af;
$body-background: #1E1E1E;
$text-color: azure;

body{
  background-color: $body-background;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: $text-color;
  
  font-family: "Assistant";
  font-size: 15px;
}
.StatusBarWrapper{
  font-family: "Idea-Medium";
  font-size: 13px;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 22px;
  background-color: $status-bar-background; 
}