@import url("./font-face/Inter.css");
@import url("./font-face/Idea.css");

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul[class],
ol[class] {
	padding: 0;
	list-style: none;
}
ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: "Inter";
	font-weight: 400;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img {
	max-width: 100%;
	display: block;
}

*::selection {
	color: var(--font-color-light);
	background: var(--btn-color-default);
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

html,
body,
#app,
#app > div {
	height: 100%;
}

body {
	background-color: var(--theme-dark-bg-lvl-1);
	color: var(--font-color-light);
	font-family: "Inter";
	overflow: hidden;
	scroll-behavior: smooth;
	text-rendering: auto;

	.monaco-editor .find-widget {
		z-index: 9;
	}
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
*::-webkit-scrollbar-track {
	background-color: #00000000;
	border-radius: var(--border-radius-default);
}
*::-webkit-scrollbar-thumb {
	border: 2px solid #00000000;
	border-radius: var(--border-radius-default);
	background-color: #0f0f0f;
	background-clip: padding-box;
}
::placeholder {
	user-select: none;
}

.default_tippy {
	border: 1px solid var(--border-color-default);
	background-color: var(--theme-dark-bg-lvl-2);
	user-select: none;

	.tippy-content {
		padding: 0 5px;
		padding-top: 5px;
		padding-bottom: 3px;
	}
}

.info_tippy {
	border: 1px solid var(--border-color-default);
	background-color: var(--theme-dark-bg-lvl-2);
	border-radius: var(--border-radius-default);
	user-select: none;

	.tippy-content {
		font-weight: 200;
		font-size: var(--font-size-paragraph);
		line-height: var(--font-line-height);
	}
}
