.Modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, .4);
}

.active{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalContent{
  padding: 25px;
  background: white;
  min-width: 250px;
  border-radius: 17px;
}