@mixin get-fonts() {
	@import url("../../styles/font-face/Idea/IdeaMedium.css");
}
@include get-fonts();

$status-bar-background: #5839af;

.StatusBarWrapper {
	width: 100vw;
	height: 20px;

	font-family: "IdeaMedium";
	font-size: 13px;

	display: flex;
	justify-content: space-between;
	padding: 2px 8px;

	background-color: $status-bar-background;
}
