.request_extra_options_header {
	min-width: 410px;
	user-select: none;
	display: flex;
	flex-direction: row;

	padding: 5px 10px;
	border-bottom: solid 1px var(--border-color-default);
	flex-grow: 1;
}
.extra_options_element {
	position: relative;
	cursor: pointer;
	margin-right: 10px;
	font-family: "Inter";
	font-weight: 500;
	color: white;
	font-size: 13px;
	line-height: var(--font-line-height);
	transition: color ease 0.1s;
	&:hover {
		color: #614fd1;
		transition: color ease 0.1s;
	}
}
.extra_option_underline {
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	height: 2px;
	background: #614fd1;
}
.request_extra_options_body {
	padding: 5px 10px;
	height: 100%;
	max-height: 800px;
}
.extra_option_name {
	font-family: "Inter";
	font-weight: 400;
	font-size: var(--font-size-paragraph);
	line-height: var(--font-line-height);
}
