.request_additional_options_tabs {
	min-width: 410px;
	user-select: none;
	display: flex;
	flex-direction: row;
	padding-bottom: 8px;
	flex-grow: 1;
}
.request_additional_option_header_wrapper {
	height: 34px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: solid 1px var(--border-color-default);
	padding: 5px;
	margin-right: 10px;
}
.request_additional_options_element {
	position: relative;
	cursor: pointer;
	margin-right: 10px;
	font-family: "Inter";
	font-weight: 500;
	color: white;
	font-size: 13px;
	line-height: var(--font-line-height);
	transition: color ease 0.2s;
	&:hover {
		color: var(--btn-color-default);
		transition: color ease 0.2s;
	}
}
.request_additional_option_underline {
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
	height: 2px;
	background: var(--btn-color-default);
}
.request_additional_options_body {
	height: calc(100% - 75px);
	font-family: "Inter";
	font-weight: 400;
	font-size: var(--font-size-paragraph);
	line-height: var(--font-line-height);
}
.request_additional_option_name {
	user-select: none;
}
.request_additional_option_controls {
	display: flex;
	flex-direction: row;

	.delete_all {
		padding: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			background-color: var(--border-color-default);
			border-radius: var(--border-radius-default);
			transition: background-color ease 0.2s;
		}
	}
	.add_new {
		padding: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			background-color: var(--border-color-default);
			border-radius: var(--border-radius-default);
			transition: background-color ease 0.2s;
		}
	}
}

.base_tippy_wrapper {
	.tippy-arrow::before {
		color: var(--theme-dark-bg-lvl-2);
	}
	.tippy-content {
		font-weight: 200;
		font-size: var(--font-size-paragraph);
		line-height: var(--font-line-height);
	}
	border: 1px solid var(--border-color-default);
	background-color: var(--theme-dark-bg-lvl-2);
	border-radius: var(--border-radius-default);
	user-select: none;
}
