.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	user-select: none;
	height: var(--height-base-element);
	padding: var(--padding-t8-l16);
	border: 1px solid var(--border-color-none);
	outline: none;
	border-radius: var(--border-radius-default);
	color: var(--font-color-default);
	text-decoration: none;
	font-family: "Inter";
	font-weight: 500;
	font-size: var(--font-size-paragraph);
}

.btn_icon {
	display: flex;
	margin-right: 2px;
}

.redirect {
	text-decoration: none;
	color: var(--font-color-dark);
	&.disabled {
		cursor: no-drop;
		pointer-events: none;
	}
}

/* Button styles */

.btn_primary {
	background-color: var(--btn-color-default);
	&:hover {
		background: var(--btn-color-default-hover);
		transition: background-color 0.1s linear;
	}
	&:disabled {
		cursor: no-drop;
		background-color: var(--btn-color-default-disabled);
	}
}
.btn_danger {
	background-color: var(--btn-color-danger);
	&:hover {
		background: var(--btn-color-danger-hover);
		transition: background-color 0.1s linear;
	}
	&:disabled {
		cursor: no-drop;
		background-color: var(--btn-color-danger-disabled);
	}
}
.btn_secondary {
	background-color: var(--btn-color-secondary);
	color: var(--font-color-dark);
	&:hover {
		background: var(--btn-color-secondary-hover);
		transition: background-color 0.1s linear;
	}
	&:disabled {
		cursor: no-drop;
		background-color: var(--btn-color-secondary-disabled);
	}
}
.btn_invisible {
	color: var(--font-color-invisible);
	border-color: var(--border-color-none);
	background-color: var(--btn-color-invisible);
	&:hover {
		transition: all 0.1s linear;
		border-color: var(--border-color-default);
		background-color: var(--btn-color-invisible-hover);
	}
	&:disabled {
		cursor: no-drop;
		border-color: var(--border-color-none);
		background-color: var(--btn-color-invisible-disabled);
	}
}
