$button-background: #5839af;
$button-focused-color: #4d309c;
$link-background: #ffff;
$link-focused-background: #d8d8d8;

.Button{
  color: white;
  padding: 5px 14px;
  background: $button-background;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-family: "Assistant";
  font-size: 15px;

  &:hover{
    background: $button-focused-color;
    transition: background-color .1s linear;
  }
}

.LinkButton{
  color: black;
  padding: 5px 14px;
  background: $link-background;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-family: "Assistant";
  font-size: 15px;

  &:hover{
    background: $link-focused-background;
    transition: background-color .1s linear;
  }
}