$submit-background: #5839af;
$submit-focused-color: #4d309c;
$back-background: #ffff;
$back-focused-background: #d8d8d8;

.SubmitButton{
  color: white;
  padding: 5px 14px;
  background: $submit-background;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-family: "Assistant";
  font-size: 15px;

  &:hover{
    background: $submit-focused-color;
    transition: background-color .1s linear;
  }
}

.LinkButton{
  color: black;
  padding: 5px 14px;
  background: $back-background;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-family: "Assistant";
  font-size: 15px;

  &:hover{
    background: $back-focused-background;
    transition: background-color .1s linear;
  }
}