.button {
	cursor: pointer;
	user-select: none;
	height: var(--height-base-element);
	padding: var(--padding-t8-l16);
	border: none;
	outline: none;
	border-radius: var(--border-radius-default);
	color: var(--font-color-default);
	text-decoration: none;
	font-family: "Inter";
	font-weight: 500;
	font-size: var(--font-size-paragraph);
}

.redirect {
	text-decoration: none;
	color: var(--font-color-dark);

	&.disabled {
		cursor: no-drop;
		pointer-events: none;
	}
}

.primary {
	background-color: var(--color-default);

	&:hover {
		background: var(--color-default-hover);
		transition: background-color 0.1s linear;
	}
	&:disabled {
		cursor: no-drop;
		background-color: var(--color-default-disabled);
	}
}

.danger {
	background-color: var(--color-danger);

	&:hover {
		background: var(--color-danger-hover);
		transition: background-color 0.1s linear;
	}
	&:disabled {
		cursor: no-drop;
		background-color: var(--color-danger-disabled);
	}
}

.secondary {
	background-color: var(--color-secondary);
	color: var(--font-color-dark);

	&:hover {
		background: var(--color-secondary-hover);
		transition: background-color 0.1s linear;
	}
	&:disabled {
		cursor: no-drop;
		background-color: var(--color-secondary-disabled);
	}
}
