html, body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

$base-color: #76BA99;
$error-color: #FF5677;
$warning-color: #F9B208;

.SideBarWrapper{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: $base-color;
  
  &.error{
    background-color: $error-color;
  }

  &.warning{
    background-color: $warning-color;
  }
}