$status-bar-background: #5839af;

.statusbar_wrapper {
	width: 100vw;
	height: 20px;

	background-color: $status-bar-background;

	font-family: "Idea";
	font-weight: normal;
	font-size: 13px;

	display: flex;
	justify-content: space-between;
	padding-left: 8px;
	padding-right: 8px;
}

.net_connection {
	cursor: pointer;
	// margin-top: 2px;
}
