.request_form_wrapper {
	overflow: hidden;
	height: 100%;
}
.main_data_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px;
	margin-bottom: 0;
}
.request_main_data {
	flex-grow: 1;
	margin-right: var(--margin-r8);
	display: flex;
	flex-direction: row;
}
.additional_options_wrapper {
	overflow: hidden;
	height: calc(100% - 60px);
	min-width: 390px;
	margin-left: 10px;
	// margin-right: 15px;
	margin-top: 16px;
}
