.form_wrapper {
	padding: 0 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
}

.request_config_wrapper {
	margin-right: 8px;
	display: flex;
	flex-grow: 1;
	flex-direction: row;
}
