.tippy_list_element {
	padding: 5px 10px;
	color: white;
	cursor: pointer;
	border-radius: var(--border-radius-default);

	&:hover {
		background-color: var(--border-color-default);
	}
}

.selected {
	background-color: var(--border-color-default);
}
