.body_conntent_type_select_wrapper {
	display: flex;
	flex-direction: row;
}

.request_additional_body_type {
	width: 100px;
	height: 20px;
	border-radius: 4px;
	border: 1px solid var(--border-color-default);
	margin-left: 5px;
	padding: 0 2px 0 5px;
}

.body_content_type_select {
	cursor: pointer;
	display: flex;
	align-items: center;
	user-select: none;

	.body_content_type {
		margin-right: 5px;
		line-height: 18px;

		width: 80px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.body_raw_type_tippy_wrapper {
	width: 120px;
}

.body_raw_type_select {
	width: 90px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--border-color-default);
	border-radius: 4px;
	margin: 0 5px;
	padding: 0 2px 0 5px;
	user-select: none;

	.body_raw_type {
		margin-right: 5px;
		line-height: 18px;
	}
}

.body_content_type_tippy_wrapper {
	width: 200px;
}

.request_body_wrapper {
	height: 100%;
	user-select: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

// ! FIXME:----------------------------------------------------
.form_data_item_adding_modal {
	.form_data_modal_item_key {
		margin-bottom: 16px;
	}
	.form_data_modal_item_value {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
	}
	.form_data_modal_select_file {
		width: 200px;
	}
}
// ! FIXME: ----------------------------------------------------
.url_encoded_item_adding_modal {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	.url_encoded_modal_item_key {
	}
	.url_encoded_modal_item_value {
	}
}
