.form_data_item {
	display: flex;
	flex-direction: row;
	border-top: solid 1px var(--border-color-default);
	margin-bottom: 2px;

	.form_data_controls {
		padding: 5px;
		display: flex;
		align-items: center;
		border-bottom: solid 1px var(--border-color-default);
		border-left: solid 1px var(--border-color-default);

		.form_data_dragger {
			opacity: 1;
			cursor: ns-resize;
			display: flex;
			align-items: center;
			transition: opacity ease 0.1s;
			margin-right: 1px;
		}

		.form_data_select {
			color: #9084df;
			padding: 3px;
			display: flex;
			align-items: center;

			&:hover {
				background-color: var(--border-color-default);
				border-radius: var(--border-radius-default);
				transition: background-color ease 0.2s;
			}
		}
	}

	.form_data_key_val {
		width: 100%;
		display: flex;
		flex-direction: row;
		user-select: none;

		.form_data_key {
			min-width: 200px;
			padding: 5px;
			width: 100%;
			display: flex;
			align-items: center;
			border: solid 1px var(--border-color-default);
			border-top: none;
			border-right: none;

			.form_data_select {
				min-width: 50px;
				margin-left: 5px;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border: 1px solid var(--border-color-default);
				border-radius: 4px;
				padding: 0 2px 0 5px;

				.form_data_current {
					margin-right: 5px;
				}
			}
		}
		.form_data_val {
			padding: 5px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border: solid 1px var(--border-color-default);
			border-top: none;

			.form_data_file_item {
				max-width: 200px;
				border: 1px solid var(--border-color-default);
				border-radius: 4px;
				padding: 1px 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;

				.file_name {
					max-width: 170px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.form_data_file_item_delete {
					margin-left: 5px;
					display: flex;
					align-items: center;

					&:hover {
						color: var(--font-color-red);
						transition: color 0.1s ease-in-out;
					}
				}

				&:hover {
					background-color: var(--border-color-default);
					transition: background-color 0.1s ease-in-out;
				}
			}
		}

		&:hover .form_data_delete {
			padding: 3px;
			margin-left: 3px;
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				cursor: pointer;
				background-color: var(--border-color-default);
				border-radius: var(--border-radius-default);
				transition: background-color ease 0.2s;
			}
		}

		.form_data_delete {
			display: none;
		}
	}
}
