.query_params_header_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: solid 1px var(--border-color-default);
	padding: 5px;
	margin-right: 10px;
}
.query_params_body_wrapper {
	height: 100%;
	user-select: none;
	overflow-y: scroll;
	overflow-x: hidden;
}
.query_params_body_wrapper_empty {
	user-select: none;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	.query_params_body_empty {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.params_empty_text {
			letter-spacing: 0.5px;
			color: var(--font-color-invisible);
			margin-bottom: 8px;
		}
	}
}
.tippy_query_parameter {
	.tippy-arrow::before {
		color: var(--theme-dark-bg-lvl-2);
	}
	.tippy-content {
		font-weight: 200;
		font-size: var(--font-size-paragraph);
		line-height: var(--font-line-height);
	}
	border: 1px solid var(--border-color-default);
	background-color: var(--theme-dark-bg-lvl-2);
	border-radius: var(--border-radius-default);
	user-select: none;
}
