$button-font-size: 13px;

$redirect-button-background: #ffff;
$redirect-button-focused-background: #d8d8d8;

.RedirectButton {
	color: black;
	padding: 5.5px 14px;
	background: $redirect-button-background;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-family: "PoppinsLight";
	font-size: $button-font-size;

	&:hover {
		background: $redirect-button-focused-background;
		transition: background-color 0.1s linear;
	}
}
