.Button {
	cursor: pointer;
	height: 34px;
	padding: var(--padding-default);
	border: none;
	outline: none;
	border-radius: var(--border-radius-default);
	color: var(--font-color-default);
	text-decoration: none;
	font-family: "PoppinsLight";
	font-size: var(--font-size-paragraph);
}
.Primary {
	background-color: var(--color-default);

	&:hover {
		background: var(--color-default-hover);
		transition: background-color 0.1s linear;
	}
}

.Danger {
	background-color: var(--color-danger);

	&:hover {
		background: var(--color-danger-hover);
		transition: background-color 0.1s linear;
	}
}

.Secondary {
	background-color: var(--color-secondary);

	&:hover {
		background: var(--color-secondary-hover);
		transition: background-color 0.1s linear;
	}
}
